# --- TRACE2PROMPT STANDARD OTEL CONFIGURATION ---
OTEL_SERVICE_NAME=my-awesome-app
OTEL_TRACES_EXPORTER=otlp
OTEL_LOGS_EXPORTER=otlp
OTEL_METRICS_EXPORTER=otlp
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_INSTRUMENTATION_HTTP_CAPTURE_HEADERS_SERVER_REQUEST="Authorization,Cookie,Accept,User-Agent,Content-Type"
OTEL_INSTRUMENTATION_HTTP_SERVER_CAPTURE_REQUEST_HEADERS=Authorization,Cookie,Accept,User-Agent,Content-Type
OTEL_BSP_SCHEDULE_DELAY=500
OTEL_BLRP_SCHEDULE_DELAY=500